
*
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: yellow;
    --secondary-color: blue;
    --third-color: red;
    --padding-text: 1rem;
    --padding-p: 1.5rem;
}
body {
    font-family: 'Alata', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

picture img{
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 0.5rem solid var(--primary-color);
}

main {
    display: block;
}

section {
    word-break: break-word;
    text-align: center;
    margin: 1.5rem auto;
}

section img{
    width: 10%;
}


header {
    height: 10rem;
    background-color: black;
    text-align: center;
    font-family: 'Prata', sans-serif;
    letter-spacing: 0.1rem;
}

.color:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 7rem;
}
.color:nth-of-type(2)  {

    background-color: var(--secondary-color);
    height: 1.5rem;
}
.color:nth-of-type(3) {

    background-color: var(--third-color);
    height: 1.5rem;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;

}

footer {
    height: 6rem;
    background-color: var(--primary-color);
    padding: var(--padding-p);
    text-align: center;
}


#data {
    padding-top: 2rem;
}
table {
    display: flex;
    justify-content: center;
    align-items: center;

}
        
table td:first-child {
    text-align: right;
    padding-right: 10px;
}
table td:last-child {
    text-align: left;
    padding-left: 10px;
}