@media screen and (min-width: 37.5em) {

    /* Oculta el menú hamburguesa */
    #menu {
        display: none;
    }

    /* Header alineado en horizontal */
    header {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        /* Importante para que nav se estire a la altura de header */
        padding: 0rem;
        background-color: var(--primary-color);
    }


    .navigation ul {
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        height: 100%;
    }

    .navigation a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0rem 2rem;
        text-decoration: none;
    }

    .navigation a:hover {
        background-color: var(--accent-color);
        color: var(--primary-color);
        font-weight: 700;
        transform: scale(1);
    }

    #gallery {
        display: grid;
        width: 90%;
        gap: 1rem;
        grid-template-columns: 1fr;
        padding: 1rem;
        /* 1 columna en mobile */
    }

    #gallery figure {
        text-align: center;
    }

    #gallery img {
        width: 100%;
    }

    #gallery {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}